@font-face {
    font-family: vazir;
    src: url(../../public/font/Vazirmatn-Medium.ttf);
}




* {
    font-family: vazir;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    height: auto;

}
